.App {
  text-align: inherit;
}

img{
  width: 20%;
  text-align: center;
}

h1{
  text-align: center;
}

h4{
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span{
  padding-left: 3%;
}

.border{
  border: 2px solid black;
  width: 50%;
  margin: 0 auto;
  padding: 2%
}